{%- style -%}
  .featured-section-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 8rem auto;
    max-width: 1200px;
    padding: 0 15px;
    width: 100%;
    gap: 10px;
  }

  .section-item-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .section-item-row img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }

  .section-item-row p {
    font-size: 18px;
    text-align: center;
    margin-top: 5px;
    font-weight: 700;
  }

  @media (max-width: 767px) {
    .featured-section-row {
      flex-direction: column;
      align-items: center;
    }

    .section-item-row {
      margin-bottom: 20px;
    }
  }
{%- endstyle -%}

{%- assign sections = section.settings.featured_sections -%}

{% for featured_section in sections %}
  <div class="featured-section-row">
    <div class="section-item-row">
      <img src="{{ featured_section.image }}" alt="">
      <p>{{ featured_section.title }}</p>
    </div>

    <div class="section-item-row">
      <img src="{{ featured_section.image2 }}" alt="">
      <p>{{ featured_section.title2 }}</p>
    </div>

    <div class="section-item-row">
      <img src="{{ featured_section.image3 }}" alt="">
      <p>{{ featured_section.title3 }}</p>
    </div>
  </div>
{% endfor %}

{% schema %}
{
  "name": "Featured section",
  "settings": [
    {
      "type": "group",
      "label": "Featured Sections",
      "id": "featured_sections",
      "max_items": 3,
      "item_names": [
        "Section 1",
        "Section 2",
        "Section 3"
      ],
      "settings": [
        {
          "type": "text",
          "label": "Title",
          "id": "title"
        },
        {
          "type": "image_picker",
          "label": "Image",
          "id": "image"
        },
        {
          "type": "text",
          "label": "Title 2",
          "id": "title2"
        },
        {
          "type": "image_picker",
          "label": "Image 2",
          "id": "image2"
        },
        {
          "type": "text",
          "label": "Title 3",
          "id": "title3"
        },
        {
          "type": "image_picker",
          "label": "Image 3",
          "id": "image3"
        }
      ]
    }
  ],
  "presets": [{ "name": "Featured section" }]
}
{% endschema %}
