{%- style -%}
  .topbar {
    background-color: {{ section.settings.background_color | default: "#fdf7fa" }};
    color: {{ section.settings.text_color | default: "#626266" }};
    padding: 0;
  }

  .topbar-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 33px;
  }

  .topbar-messages {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    overflow: hidden; 
  }

  .topbar-message {
    font-size: 14px;
    font-weight: 500;
    color: {{ section.settings.text_color | default: "#626266" }};
    margin-right: 20px;
    margin-bottom: 10px;
  }

  .topbar-progress {
    width: 100px;
    height: 2px;
    background-color: #000;
    margin-right: 20px;
  }

  .topbar-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .topbar-menu li {
    list-style-type: none;
    margin-right: 20px;
  }

  .topbar-menu li:not(:last-child)::after {
    content: "•";
    margin-left: 10px;
    color: {{ section.settings.link_color | default: "#005baa" }};
  }

  .topbar-menu li a {
    font-size: 14px;
    color: {{ section.settings.link_color | default: "#005baa" }};
    text-decoration: none;
    font-weight: 700;
  }

  .topbar-menu li a:hover {
    color: #000;
  }

  @media (max-width: 767px) {
    .topbar-container {
      flex-direction: column;
    }

    .topbar-messages {
      margin-bottom: 10px;
    }

    .topbar-menu {
      display: none; /* Hide the menu on mobile devices */
      margin-top: 10px;
    }
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    .topbar-messages {
      margin-right: 20px;
    }
  }

  @media (min-width: 1200px) {
    .topbar-messages {
      margin-right: 20px;
    }
  }
{%- endstyle -%}

<script>
  function scrollMessages() {
    const container = document.getElementById('topbar-messages');
    const firstMessage = container.firstElementChild;

    container.removeChild(firstMessage);
    const clonedMessage = firstMessage.cloneNode(true);
    container.appendChild(clonedMessage);
  }

  setInterval(scrollMessages, 2000);
</script>

{% schema %}
  {
    "name": "Top Bar",
    "settings": [
      {
        "type": "color",
        "label": "Background Color",
        "id": "background_color",
        "default": "#fdf7fa"
      },
      {
        "type": "color",
        "label": "Text Color",
        "id": "text_color",
        "default": "#626266"
      },
      {
        "type": "color",
        "label": "Link Color",
        "id": "link_color",
        "default": "#005baa"
      },
      {
        "type": "checkbox",
        "label": "Show on Desktop",
        "id": "show_on_desktop",
        "default": true
      },
      {
        "type": "checkbox",
        "label": "Show on Mobile",
        "id": "show_on_mobile",
        "default": true
      },
      {
        "type": "text",
        "label": "Custom Message 1",
        "id": "custom_message_1",
        "default": "FRETE GRÁTIS A PARTIR DE R$149 PARA PEDIDOS COM CASE"
      },
      {
        "type": "text",
        "label": "Custom Message 2",
        "id": "custom_message_2",
        "default": "6X SEM JUROS EM PEDIDOS A PARTIR DE R$ 499!"
      },
      {
        "type": "text",
        "label": "Menu Link 1",
        "id": "menu_link_1",
        "default": "{{ routes.home_url }}"
      },
      {
        "type": "text",
        "label": "Menu Link 1 Text",
        "id": "menu_link_1_text",
        "default": "Go For Good"
      },
      {
        "type": "text",
        "label": "Menu Link 2",
        "id": "menu_link_2",
        "default": "{{ routes.about_url }}"
      },
      {
        "type": "text",
        "label": "Menu Link 2 Text",
        "id": "menu_link_2_text",
        "default": "Seja revendedor(a)"
      },
      {
        "type": "text",
        "label": "Menu Link 3",
        "id": "menu_link_3",
        "default": "{{ routes.contact_url }}"
      },
      {
        "type": "text",
        "label": "Menu Link 3 Text",
        "id": "menu_link_3_text",
        "default": "Central de Ajuda"
      }
    ],
    "presets": [{ "name": "Top Bar" }]
  }
  {% endschema %}
  

<div class="topbar" style="background-color: {{ section.settings.background_color }}; color: {{ section.settings.text_color }}">
  {% if section.settings.show_on_desktop %}
    <div class="topbar-container">
      <div id="topbar-messages" class="topbar-messages">
        <div class="topbar-message"><b>{{ section.settings.custom_message_1 }}</b></div>
        <div class="topbar-message"><b>{{ section.settings.custom_message_2 }}</b></div>
      </div>
      <ul class="topbar-menu">
        <li><a href="{{ section.settings.menu_link_1 }}" style="color: {{ section.settings.link_color }}">{{ section.settings.menu_link_1_text }}</a></li>
        <li><a href="{{ section.settings.menu_link_2 }}" style="color: {{ section.settings.link_color }}">{{ section.settings.menu_link_2_text }}</a></li>
        <li><a href="{{ section.settings.menu_link_3 }}" style="color: {{ section.settings.link_color }}">{{ section.settings.menu_link_3_text }}</a></li>
      </ul>
    </div>
  {% endif %}
</div>

{% if section.settings.show_on_mobile %}
  <style>
    @media (max-width: 767px) {
      .topbar {
        display: block;
      }
    }
  </style>
{% endif %}
